*{margin: 0; padding: 0;}
body{background: #f5f5f5; font-size: 16px; color: #333;}
ul{list-style: none;}

[v-cloak]{display: none;}

.main_color{color: #24c5b5;}
.font_0_color{color: #cccccc;} 		/*不可用状态文字*/
.font_1_color{color: #333333;}     	/*重要文字信息，如大标题，内页信息*/
.font_2_color{color: #999999;}   	/*辅助色、次要的文字信息，如小标题或提示*/
.line_color{color: #e5e5e5;} 		/*用于分割线*/
.bg_color{color: #f5f5f5;}  		/*用于内容区域背景色*/

.relative{position: relative;}
.absolute{position: absolute; z-index: 10;}
.fixed{position: fixed; z-index: 10;}

.flex_start{display: flex; justify-content: flex-start;}
.flex_start_v{display: flex; justify-content: flex-start; align-items: center;}
.flex_end{display: flex; justify-content: flex-end;}               
.flex_end_v{display: flex; justify-content: flex-end; align-items: center;}  
.flex_between{display: flex; justify-content: space-between;}
.flex_between_v{display: flex; justify-content: space-between; align-items: center;}
.flex_around{display: flex; justify-content: space-around;}
.flex_around_v{display: flex; justify-content: space-around; align-items: center;}
.vertical_v{display: flex; align-items: center;}

/*底部导航栏组件*/
.footer{ position: fixed; z-index: 100; bottom: 0; left: 0; height: 50px; width: 100%; font-size: 0.8rem; color: #7a7a7a; background: white; border-top: 1px solid #f1f1f1; }
.footer .footer_item{ text-align: center; width: 60px; }
.footer .footer_item p{margin-top: -5px;}
/*页面顶部组件*/
.header_com{position: fixed; z-index: 100; top:0;left:0; width:100%;height: 50px; display: flex;text-align: center;background: #fff;border-bottom:1px solid #eee;}
.header_com .header_title{flex: 1;display: block;font-size: 16px;font-weight: 600;line-height: 50px; overflow: hidden;}
.header_com .header_left,.header_com .header_right{width: 70px; line-height: 50px;font-weight: 600;font-size: 16px;}
.header_com .header_right{width: 70px; font-weight: normal;}
.header_com .header_right span{display: inline-block; margin: 0 auto; padding: 3px 5px; height: 20px; line-height: 20px; font-size: .8rem; border-radius: 5px; background: #24c5b5; color: white; }
.dt{position: relative;width: 20px;height: 30px;top:20px;left: 20px;}
.dt div{width: 10px;height: 10px;border:2px solid #333;transform: rotate(45deg);border-top: 0;border-right: 0;}
/*加载动画*/
.loading_div{position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100;}
.loading_div .loading_board{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.3); z-index: 99;}
.loading_div img{position: absolute; top: 240px; margin-left: calc(50% - 40px); margin-left: -moz-calc(50% - 40px); margin-left: -webkit-calc(50% - 40px); z-index: 101;}
/*提示信息*/
.hintDiv{position: fixed; width: 100%; top: 240px; text-align: center; z-index: 90;}
.hint{padding: 10px 15px; display: inline-block;color: white; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: rgba(0,0,0,.8);}




