.w120 {
	width: 120px;
	color: #6E6E6E;
}

.content {
	margin-top: 50px;
}

.list_div {
	padding: 10px;
	margin-bottom: 10px;
	background: white;
}

.list_title {
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: #24C5B5;
	border-bottom: 1px solid #f6f6f6;
}

.list_title img {
	margin-right: 5px;
}

.list_main {
	padding: 4px;
	font-size: .9rem;
}

.list_div .self_evaluation {
	line-height: 30px
}